<form action="/prehistoric_creatures" method="POST">
    <label for="oldDinoType">Type</label>
    <input type="text" id="dinosaurName" name="type">

    <label for="oldDinoUrl">IMG URL</label>
    <input type="text" id="oldDinoUrl" name="img_url">

    <input type="submit" value="add an oldDino">
</form>
